@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    margin: 0;
}

::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 21px;
}
::-moz-placeholder          {color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 21px;
}/* Firefox 19+ */
:-moz-placeholder           {color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 21px;
}/* Firefox 18- */
:-ms-input-placeholder      {color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 21px;
}

.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(202.25deg, #383838 11.45%, #151515 87.41%);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(38, 91, 160);
    display: inline-block;
    vertical-align: top;
    padding: 36px 40px;
    border-radius: 10px;

    background: linear-gradient(253.54deg, #6C6C6C -6.11%, #888888 54.87%, #373737 99.11%);
    box-shadow: 0px 10px 60px rgba(0, 22, 100, 0.3);
}

.card__heading {
    display: flex;
    margin-bottom: 30px;
}

.heading-style {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.card__heading__accent {
    margin-left: 148px;
}

.button {
    padding: 11px 25px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    transition: 0.3s;
}



.input-form {
    display: flex;
    width: 100%;
    margin-bottom: 38px;
}

.input-form__input {
    width: 100%;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    padding: 9px 10px;
    font-size: 18px;
    line-height: 21px;
}

.input-form__button {
    background: linear-gradient(275.2deg, #00229B -10.5%, #0056D8 173.78%);
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    border-radius: 5px;
    font-style: normal;
}

.input-form__button:hover {
    color: rgba(255, 255, 255, 0.85);
}

.input-form__button:active {
    background: linear-gradient(275.2deg, #001B7A -10.5%, #004AB8 173.78%);
}

.hate-form__button {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 45px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

.hate-form__button:hover {
    border: 1px solid rgba(255, 255, 255, 0.65);
    color: rgba(255, 255, 255, 0.65);
}

.hate-form__button:active {
    background: rgba(52, 52, 52, 0.35);
}